<div class="container pt5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center text-skyblue">Register</h3>
            <form [formGroup]="registerForm" class="bg-header p-ol-3 font14" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="text-white">Email</label>
                    <input type="text" formControlName="email" class="form-control inputHeight"
                        [ngClass]="{ 'is-invalid': f.email.errors && (f.email.dirty || f.email.touched) }" />
                    <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="text-white">Password</label>
                    <input type="password" formControlName="password" class="form-control inputHeight"
                        [ngClass]="{ 'is-invalid': f.password.errors && (f.password.dirty || f.password.touched) }" />
                    <div *ngIf="f.password.errors && (f.password.dirty || f.password.touched)" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="text-white">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control inputHeight"
                        [ngClass]="{ 'is-invalid': f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched) }"
                        pattern="{{ f.password.value }}" />
                    <div *ngIf="f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched)"
                        class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.pattern"> Password & Confirm Password does not match.</div>

                    </div>
                </div>

                <div class="form-group">
                    <button type="submit"
                        class="btn btn-primary btnStyling bg-header text-skyblue font14">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- </div> -->